<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Modak&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>My travel app</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <link />
  </head>
  <body>
    <div class="grid-container">
      <header class="logo">Travel planner</header>
      <main>
        <h1>Let's plan your next trip</h1>
        <form>
          <div>
            <label for="location">Where are you travelling?</label>
            <input
              type="text"
              id="location"
              name="location"
              placeholder="Enter destination"
              list="suggestions"
              required
            />
            <datalist id="suggestions">
              <!--drop down with suggestions should show here-->
            </datalist>
          </div>
          <div>
            <label for="date">When are you travelling?</label>
            <input type="date" id="travelDate" name="date" required />
          </div>
          <div>
            <button type="button" id="submitForm">Submit</button>
          </div>
          <div id="countdown"></div>
          <div id="weather"></div>
          <div id="destination"></div>
        </form>
      </main>
      <footer>This is a footer</footer>
    </div>
    <!--JS lives here-->
    <script src="main.js"></script>
  </body>
</html>
