<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My travel app</title>
    <!--Awesome css-->
    <link />
  </head>
  <body>
    <header>
      <h1>Let's plan your next trip</h1>
    </header>
    <main>
      <form>
        <div>
          <label for="location">Where are you travelling?</label>
          <input
            type="text"
            id="location"
            name="location"
            placeholder="Enter destination"
            list="suggestions"
            required
          />
          <datalist id="suggestions">
            <!--drop down with suggestions should show here-->
          </datalist>
        </div>
        <div>
          <label for="date">When are you travelling?</label>
          <input type="date" id="date" name="date" required />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
    <footer>This is a footer</footer>
    <!--JS lives here-->
    <script src="main.js"></script>
  </body>
</html>
