$background-light: #ffffff;
$background-secondary: #E7A5C1;
$input-border: 2px #000000;
$text-primary: #000000;
$font-stack: "Nunito Sans", Helvetica, Arial, sans-serif;
$font-body1: 16px;
$button-main: #F4C749;
$button-main-hover: #efaf00;