/* backgrounds */
$background-light: #ffffff;
$background-secondary: #E7A5C1;
$container-max-width: 1200px;
$container-padding: 20px;

/* inputs */
$button-main: #F4C749;
$button-main-hover: #efaf00;
$input-border: 2px #000000;
$text-primary: #000000;

/* Type */
$font-stack: "Nunito Sans", Helvetica, Arial, sans-serif;
$font-h1: 40px;
$font-h2: 32px;
$font-body1: 16px;

$font-h1-mobile: 28px;
$font-h2-mobile: 24px;

$font-weight-main: 400;
$font-weight-heavy: 700;
$font-weight-cta: 800;