.grid-container-main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 24px;
	padding: 16px;
	grid-template-areas:
	"hd hd hd hd hd hd hd hd hd hd hd hd"
	"main main main main main main sd sd sd sd sd sd"
	"ft ft ft ft ft ft ft ft ft ft ft ft";
}

/* Mobile styles */
@media(max-width: 767px) {
	.grid-container-main {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Tablet styles */
@media(min-width: 768px) and (max-width: 1023px) {
	.grid-container-main {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Desktop styles */
@media(min-width: 1024px) {
}

.header {
	grid-area: hd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	background-color: #ffffff;
}

.form-content {
	grid-area: main;
}

.side-content {
	grid-area: sd;
}

footer {
	grid-area: ft;
	bottom: 0;
	display: flex;
	padding: 36px;
	text-align: center;
	margin-top: auto;
	background: #4860A6;
	border: 2px solid black;
	border-radius: 8px;
}