/* Base styles */
#logo {
	color: $text-primary;
	font-family: Modak;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
}

h1 {
	font-size: 40px;
	margin: 0;
	font-family: $font-stack;
	font-weight: 400;
	line-height: normal;
}

h2 {
	font-size: 32px;
	font-family: $font-stack;
	font-weight: 400;
}

body {
	font-family: $font-stack;
	font-size: $font-body1;
	font-weight: 400;
}

.data-display {
	color: $text-primary;
	text-align: left;
	font-family: $font-stack;
	font-size: 32px;
	font-weight: 700;
	margin: 48px 16px;
}

.data-display-light {
	color: $text-primary;
	text-align: left;
	font-family: $font-stack;
	font-size: 32px;
	font-weight: 400;
	margin: 48px 16px;
}

/* Mobile styles */
@media(max-width: 767px) {
	#logo {
		color: $text-primary;
		font-family: Modak;
		font-size: 36px;
		font-weight: 400;
		padding: 16px;
	}
	
	h1 {
		font-size: 28px;
		font-family: $font-stack;
		font-weight: 400;
	}
	
	h2 {
		font-size: 24px;
		font-family: $font-stack;
		font-size: normal;
		font-weight: 400;
	}
	
	body {
		font-family: $font-stack;
		font-size: $font-body1;
		font-weight: 400;
	}
	
	.data-display {
		color: $text-primary;
		text-align: left;
		font-family: $font-stack;
		font-size: 24px;
		font-weight: 700;
		margin: 48px 16px;
	}
	
	.data-display-light {
		color: $text-primary;
		text-align: left;
		font-family: $font-stack;
		font-size: 24px;
		font-weight: 400;
		margin: 48px 16px;
	}
}