#logo {
	color: #000;
	font-family: Modak;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 16px;
}

h1 {
	font-size: 40px;
	font-family: Nunito Sans;
	font-size: normal;
	font-weight: 400;
	line-height: normal;
}

h2 {
	font-size: 32px;
	font-family: Nunito Sans;
	font-size: normal;
	font-weight: 400;
	line-height: normal;
}

body {
	font-family: Nunito Sans;
	font-size: normal;
	font-weight: 400;
	line-height: normal;
}

.data-display {
	color: var(--Primary---main, #000);
	text-align: left;
	font-family: Nunito Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 48px 16px;
}